*{
    padding: 0;
    margin: 0;
}

.cabeza{
    position:absolute; 
    z-index:5;
    left:20em; 
    top:-25px; 
    opacity:0.9;
    background: #056e31;
 
}
.uls{
    background: #056e31;
    position:relative; 
    z-index:2; 
    left:60px; 
    top:3em;
}